@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2a324b;
}

html {
  ::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "RalewayBold";
  src: local("RalewayBold"),
    url("./fonts/Raleway-SemiBold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "RalewayExtraBold";
  src: local("RalewayExtraBold"),
    url("./fonts/Raleway-ExtraBold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway"),
    url("./fonts/Raleway-ExtraLight.ttf") format("truetype");
}

.font-reg {
  font-family: "Raleway";
}

.font-bold {
  font-family: "RalewayBold";
}

.font-extra-bold {
  font-family: "RalewayExtraBold";
}
